html{
    scroll-behavior: smooth;
  }
.wrap {
    max-width: 1366px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    .top {
        right: 48px;
        top: 70%;
        width: 50px;
        position: fixed;
        z-index: 999;
    }
}
.container{
    margin: 0 auto;
}

.row {
    padding: 0px !important;
    --bs-gutter-x: 0rem;
}

.topbar {
    position: relative;
    margin-bottom: 217px;

    .nav {
        display: flex;
        align-items: center;
        height: 72px !important;

        .logo {
            height: 40px;
        }

    }
}

.top-bg-desktop {
    display: block;
    max-width: 850px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -999;
}

.person {
    margin-right: 200px;
}

.top-bg-mobile {
    display: none;
}

.community {
    ul {
        padding: 0;
    }
}

.introduce {
    img{
        width: 100%;
      
    }
    li {
        background: #FFFFFF 0% 0% no-repeat padding-box;
        box-shadow: 0px 2px 10px #00000014;
        border-radius: 12px;
     
    }
}
.feature{
    ul{
        li {
            height: 280px;
            background: #FFFFFF 0% 0% no-repeat padding-box;
            box-shadow: 0px 2px 10px #00000014;
            border-radius: 12px;
            padding: 32px;
            margin-right: 47px;
        }
    }
}
.message{
    ul{
        margin-top: 80px;
        li{
            width: 380px;
            background: #FFFFFF 0% 0% no-repeat padding-box;
            box-shadow: 0px 2px 10px #00000014;
            border-radius: 12px;
            padding: 48px 32px 0px 32px;
            margin-top: 80px;
            margin-right: 10px
            ;
            img{
                top:-60px;
                left: 10px;
            }
        }
    }
}

.footer{ 
    img{
        z-index: -500;
    }
    
}
@media (max-width:1920px) {
    .blueBall-1 {
        position: absolute;
        left: -222px;
        top: 580px;
        z-index: -999;
    }
    .blueBall-2 {
        position: absolute;
        right: -100px;
        top: 1650px;
        z-index: -999;
    }
    .blueBall-3 {
        position: absolute;
        left: 120px;
        bottom: 830px;
        z-index: -999;
    }
    
}

@media (max-width:1366px) {
    .blueBall-1 {
        position: absolute;
        left: -222px;
        top: 400px;
        z-index: -999;
    }
}

@include desktop {
    .blueBall-1 {
        width: 250px;
        position: absolute;
        left: -150px;
        top: 370px;
        z-index: -999;
    }
    .modile-text-center{
        text-align: center;
    }
    .feature,.message{
        ul{
            
            li {
                margin: 0 auto;
            }
        }
    }
    .footer{
        .footer-content{
            width: 355px;
        }
    }
}

@include pad {
    .modile-text-center{
        text-align: center;
    }
    .top-bg-mobile {
        display: block;
    }

    .top-bg-desktop {
        display: none;
    }

    .top-bg-mobile {
        display: block;
        width: 500px;
        position: absolute;
        z-index: -999;
        bottom: -3%;
        left: 0;
    }

    .nav {
        border-bottom: 2px solid #F5CA52 !important;
    }

    .topbar {
        margin-bottom: 100px;
    }

    .blueBall-1 {
        width: 200px;
        position: absolute;
        left: -150px;
        top: 900px;
    }
    .blueBall-2 {
        position: absolute;
        right: -150px;
        top: 3200px;
        z-index: -999;
    }
    .blueBall-3 {
        position: absolute;
        left: 50px;
        bottom: 1000px;
        z-index: -999;
    }
    .community {
        ul {
            flex-wrap: wrap;
            margin: 0 auto;
            display: flex !important;
        }

    }

    .introduce {
        ul {
            display: block !important;
            padding: 0;
            li {
                margin: 0 auto;
            }
        }
    }
    .feature{
        ul{
            display: block !important;
            li {
                margin: 0 auto;
            }
        }
    }
    .message{
        margin-top: 50px;
        ul{
            margin-top: 80px;
            display: block !important;
            li {
                width: 335px;
                margin: 0 auto;
                margin-bottom: 80px;
            }
        }
    }
}

.content {
    max-width: 1100px;
    margin: 0 auto;

    .community {
        margin-bottom: 100px;
    }

}

@include mobile {
    .modile-text-center{
        text-align: center;
    }
    .top-bg-desktop {
        display: none;
    }

    .top-bg-mobile {
        display: block;
    }

    .nav {
        border-bottom: 2px solid #F5CA52 !important;

    }

   

    .topbar {
        padding: 0 !important;
    }

    .mobile-bg {
        position: relative;

        .top-bg-mobile {
            width: 500px;
            position: absolute;
            z-index: -999;
            bottom: -3%;
            left: 0;
        }
        
        .person {
            max-width: 532px;
        }
    }

    .top-content {
        display: flex;
        align-items: center;
    }

    .blueBall-1 {
        width: 200px;
        position: absolute;
        left: -120px;
        top: 850px;
    }
    .blueBall-2 {
        position: absolute;
        right: -40px;
        top: 3250px;
        z-index: -999;
        width: 37%;
    }
    .community ul {
        display: block !important;

        li {
            margin: 0 auto;
        }

        img {
            width: 60px;
        }

    }

    .introduce {
        ul {
            display: block !important;
            li {
                margin: 0 auto;
            }
        }
    }
    .feature{
        ul{
            display: block !important;
            li {
                margin: 0 auto;
            }
        }
    }
    .message{
        margin-top: 50px;
        ul{
            margin-top: 80px;
            display: block !important;
            li {
                width: 335px;
                margin: 0 auto;
                margin-bottom: 80px;
            }
        }
    }
    .footer{
        .footer-content{
            width: 355px;
            margin-top: 100px !important;
            h4{
                font-size: 24px;
            }
        }
    }
}




// * {
//     outline: red solid 1px;
// }
